.filtersContainer {
    position: sticky;
    top: 70px;
    box-sizing: border-box;
    padding: 70px 0 0 30px;
    border-right: 1px solid rgb(38, 37, 37);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    gap: 40px;
}

.filtersContainer button {
    cursor: pointer;
}

.filtersContainer select {
    margin-top: 10px;
    height: 35px;
    width: 170px;
    background-color: rgb(93, 93, 93);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
}

.genresContainer,
.countryContainer,
.ratingContainer,
.yearsContainer {
    position: relative;
}

.filterHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrowBtn {
    height: 26px;
    width: 26px;
    background-color: #0f1219;
    border: none;
}

.arrow {
    display: inline-block;
    position: relative;
    top: -12px;
    left: -2px;
    font-size: 30px;
    color: white;
}

.arrowUp {
    transform: rotate(180deg);
    top: 1px;
}

.triangleUp {
    transform: rotate(180deg);
}

.title {
    background-color: #0f1219;
    color: white;
    border: none;
    font-size: 20px;
    margin: 0;
}

.selectBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 35px;
    width: 170px;
    background-color: rgb(93, 93, 93);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(113, 113, 113);
    cursor: pointer;
}

.inputYearsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}

.inputsRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputWrapper {
    position: relative;
}

.inputYearsContainer input {
    height: 30px;
    width: 65px;
    background-color: rgb(93, 93, 93);
    border: none;
    border-radius: 5px;
}

.inputYearsContainer input::placeholder {
    color: white;
    opacity: 0.5;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    appearance: textfield;
}

.applyBtn {
    height: 35px;
    width: 170px;
    border-radius: 15px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(93, 93, 93);
    color: white;
    opacity: 0.8;
    transition: all 0.3s;
}

.applyBtn:hover {
    background-color: rgb(93, 93, 93);
    opacity: 1;
}

.clearBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
    width: 170px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 1px solid rgb(30, 30, 30);
    opacity: 0.5;
    transition: all 0.3s;
}

.clearBtn:hover {
    background-color: rgb(82, 4, 4);
    opacity: 1;
}