.watchlistWrapper {
    background-color: #0f1219;
    /* min-height: calc(100vh - 70px); */
    width: 100%;
    color: white;
    /* box-sizing: border-box; */
    padding: 50px 0;
    /* flex: 1; */

}

.title {
    margin: 0;
    /* box-sizing: border-box; */
    padding-bottom: 40px;
}

.toast {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}