.watchlistWrapper {
    background-color: #0f1219;
    min-height: 100vh;
    width: 100%;
    color: white;
    padding: 50px 0;

}

.title {
    margin: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
}

.toast {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}