.variantContainer {
    position: absolute;
    z-index: 200;
    margin-top: 10px;
    max-height: 230px;
    width: 170px;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    overflow-y: auto;
    border: 1px solid rgb(63, 63, 63);
    overscroll-behavior: none;
}

.input {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

.search {
    width: 262px;
    border-radius: 10px;
}

.variantContainer button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    height: 45px;
    width: 100%;
    transition: all 0.3s;
    padding-right: auto;
}

.variantContainer.search {
    max-height: 450px;
}

.variantContainer button:hover {
    background-color: rgb(95, 94, 94);
}

.variantContainer.search button {
    background-color: white;
    color: black;
}

.variantContainer.search button:hover {
    background-color: rgb(235, 235, 235);
}

.titleOption {
    display: flex;
    align-items: center;
    gap: 10px;
}

.poster {
    height: 35px;
}

.deleteBtn {
    height: 20px;
    width: 20px;
    font-size: 18px;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s;
}

.deleteBtn:hover {
    background-color: rgb(180, 180, 180);
    opacity: 1;
    color: rgb(57, 57, 57);
}

.variantContainer.search button:hover .deleteBtn {
    opacity: 1;
}