@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes slideDown {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

a {
    text-decoration: none;
}

.mainmovieWrapper {
    height: 450px;
    padding: 60px 0;
    background-size: cover;
    background-position: center 10%;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}

.mainmovieContent {
    display: flex;
    align-items: center;
    gap: 100px;
}

.posterContainer {
    position: relative;
}

.poster {
    border: 1px solid white;
    border-radius: 2px;
    height: 400px;
}

.bookmarkBtn {
    position: absolute;
    top: 0;
    left: 20px;
    color: white;
    font-size: 40px;
    opacity: 0;
    transition: color 0.2s, opacity 0.4s;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.posterContainer:hover .bookmarkBtn {
    opacity: 1;
    animation: slideDown 0.4s;
}

.bookmarkBtn:hover {
    color: yellow;
}

.detailsContainer {
    width: 400px;
}

.detailsContainer h2 {
    color: white;
    margin: 5px 0 20px;
    padding-bottom: 10px;
    font-size: 50px;
    border-bottom: 1px solid white;
}

.detailsContainer span {
    color: white;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

.movieDescription {
    margin: 5px 0 20px;
}

.movieDescription .moreLink {
    margin-left: -5px;
    font-size: 14px;
    white-space: nowrap;
}

.addWatchlistBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding: 5px 10px;
    background-color: rgb(184, 184, 184);
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
    height: 40px;
    width: 240px;
    margin-left: 6px;
    cursor: pointer;
}

.addWatchlistBtn:hover {
    background-color: rgb(142, 142, 142);
    transform: scale(1.05);
}