.wrapper {
    position: relative;
}

.itemsContainer {
    margin: 0 auto;
    width: 940px;
    display: flex;
    overflow-y: auto;
    gap: 20px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardList::-webkit-scrollbar {
    display: none;
}