.moviesectionWrapper {
    background-color: #0f1219;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}