.moviesectionWrapper {
    background-color: hsl(222, 25%, 8%);
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}