.wrapper {
    position: relative;
}

.cardList {
    display: flex;
    overflow-x: auto;
    gap: 20px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardList::-webkit-scrollbar {
    display: none;
}