.addBtn,
.addedBtn,
.removeBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding: 5px 10px;
    background-color: rgb(184, 184, 184);
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
    height: 40px;
    width: 240px;
    margin-left: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.addBtn:hover,
.addedBtn:hover,
.removeBtn:hover {
    background-color: rgb(142, 142, 142);
    transform: scale(1.05);
}

.addedBtn {
    background-color: rgb(201, 157, 62);
}

.addedBtn:hover {
    background-color: rgb(173, 132, 44);
}

.removeBtn {
    background-color: rgb(154, 26, 6);
}

.removeBtn:hover {
    background-color: rgb(111, 18, 4);
}
