.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
}

.modalWindow {
    position: relative;
    width: min(1080px, 90vw);
}

.modalWindow iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.closeBtn {    
    position: absolute;
    right: -60px;
    line-height: 1;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(184, 184, 184);
    transition: all 0.3s;
}

.closeBtn:hover {
    color: white;
    scale: 1.1;
}