@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    margin: 0;
}

@keyframes shimmerAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.global-shimmer {
  background: linear-gradient(
    90deg,
    #1c2029 25%, 
    #2a303d 50%, 
    #1c2029 75%
  );
  background-size: 200% 100%;
  animation: shimmerAnimation 3.6s infinite linear;
}